<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Team 1</th>
      <th scope="col">Team 2</th>
      <th scope="col">Team 3</th>
      <th scope="col">Team 4</th>
      <th>
        <div class="bitn-group pull-right">
          <button type="button" mat-raised-button color='accent' class="btn btn-light" (click)="saveStudent()">
            <mat-icon>save_edit</mat-icon>
          </button>
          <button type="button" mat-raised-button color='warn' [disabled]="disableAddButton" (click)="addStudent()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentArray; let i = index">
      <th *ngIf="student.editMode === false" scope="row">{{ student.Team1 }}</th>
      <td *ngIf="student.editMode === false">{{ student.Team2}}</td>
      <td *ngIf="student.editMode === false">{{ student.Team3 }}</td>
      <td *ngIf="student.editMode === false">{{ student.Team4 }}</td>

      <th *ngIf="student.editMode" scope="row">
        <input [(ngModel)]="student.id" type="text" class="form-control" placeholder="ID">
      </th>
      <td *ngIf="student.editMode">
        <input [(ngModel)]="student.firstName" type="text" class="form-control" placeholder="firstName">
      </td>
      <td *ngIf="student.editMode">
        <input [(ngModel)]="student.lastName" type="text" class="form-control" placeholder="lastName">
      </td>
      <td *ngIf="student.editMode">
        <input [(ngModel)]="student.course" type="text" class="form-control" placeholder="course">
      </td>

      <td>
        <button type="button" class="pull-right" mat-raised-button color="primary" (click)="removeStudent(i)">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>