<main id="tournament">

  <ul class="round round-1">
    <tr *ngFor="let list of teamArray" >
      <li class="spacer">&nbsp;</li>



      <li class="game game-top winner"></li>
      <p id="welcome"></p>
      <input type="text" [(ngModel)]="list.Team1">
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom" ></li>  
      <li class="spacer">&nbsp;</li>


      <li class="spacer">&nbsp;</li>
    </tr>
    <button (click)="addTeam()">add</button>
    <button (click)="removeTeam()">remove</button>

  </ul>
  <ul class="round round-2">
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>

    <input>
    <li class="game game-top winner"></li>

    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-spacer">&nbsp;</li>

    <input>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>

    <input>
    <li class="game game-bottom "></li>

    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-spacer">&nbsp;</li>

    <input>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-3">
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <input>
    <li class="game game-bottom "></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-spacer">&nbsp;</li>
    <input>
    <li class="game game-bottom "></li>

    <li class="spacer">&nbsp;</li>


    <li class="spacer">&nbsp;</li>
  </ul>
  <ul class="round round-4">
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <input>
    <li class="game game-bottom "></li>
    <li class="spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>



    <li class="spacer">&nbsp;</li>



  </ul>


</main>